<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279359030580-02ragdfl5uvj6mn2ci341uiag3ll12bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279359030580-02ragdfl5uvj6mn2ci341uiag3ll12bm</string>
	<key>API_KEY</key>
	<string>AIzaSyD8PDIC8btgIvaQeCrw4W-YsUWtT5uIyQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>279359030580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zartekInterviewTask</string>
	<key>PROJECT_ID</key>
	<string>zartek-interview-task</string>
	<key>STORAGE_BUCKET</key>
	<string>zartek-interview-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279359030580:ios:0fb0ed7c2113e7aece5161</string>
</dict>
</plist>